#templatemo_main_nav a {
    color: #212934;
}

#templatemo_main_nav a:hover {
    color: #f8a69a;
}

#templatemo_main_nav .navbar .nav-icon {
    margin-right: 20px;
}

.h1 {
    font-family: 'Roboto', sans-serif;
    font-size: 48px;
    font-weight: 200;
}